$colors: (
	common: (
		white: #ffffff,
		black: #000000,
		blue: #ff38cf,
		heading: #171717,
		body-text: #636363,
		border: #e0e2e5,
		placeholder: #b4b4b4,
	),
	theme: (
		1: #ff38cf,
	),
	bg: (
		white: #ffffff,
		gray: #f9f9f9,
		black: #000000,
		footer: #f9f9f9,
		dark: #111826,
	),
);
